/* Social Icons for Footer from https://codepen.io/deutschland2k/pen/qKpdJX */

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.125rem;
  height: 2.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 1.5em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-github,
.fa-orcid,
.fa-mastodon,
.fa-researchgate,
.fa-envelope .fa-quora .fa-instagram .fa-stack-overflow {
  font-size: 25px;
}

.rounded-social-buttons .social-button {
  background: #56acb0;
  color: #424242;
  border-color: #424242;

}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  color: #424242;
  background: #56acb0;
  border-color: #56acb0;

}