$base-font-family: "Inconsolata", sans-serif;
$base-font-size: 20px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit: 30px;
$light-gray: #56acb0;
$text-color: #4B5A5B;
$background-color: #333229;
$brand-color: #56acb0;
$projectbox-text: #333229;

// Color scheme for light
$body-bg: #424242;
$projectbox: #657a7d;
$text-color: #519396;