<!DOCTYPE html>
<html lang="en">

{% include "components/head.html" %}

  <body>
    <div class="container-fluid">
 
        {% include "components/headerhome.html" %}
      {% include "components/nav-blog.html" %}
      <main>
        {% include "components/about.html" %}
        {{content | safe }}

      </main>
    </body>

  </html>