<!DOCTYPE html>
<html lang="en">

{% include "components/head.html" %}

  <body>
    <div class="container-fluid">
 
      {% include "components/header.html" %}
      {% include "components/nav.html" %}
      <main>
        {%- if page.url == '/' %}
        {% include "components/about.html" %}
        {%- endif %}
        {{content | safe }}

      </main>
    </body>

  </html>