<!DOCTYPE html>
<html lang="en">

{% include "components/head.html" %}

  <body>
    <div class="container-fluid">
 {% include "components/headerblog.html" %}
      {% include "components/nav-portfolio.html" %}
      <main>
        {{content|safe}}

      </main>
    </body>

  </html>