<header class="header">

    <img id="profpic" class="" src="{{'/img/profile.jpg' | url}}"
      alt="An image of Jos O'shea in an outside setting wearing a black 5
      panel cap with a blue denim shirt, and green wool cardigan over top
      with a floral quilt pattern bandanna around their neck">
    <div class="header-text">
      <h1 class="h1">Hi There!</h1>
      <h2 class="header-intro">I'm Jos O'shea, <br>I'm a front end
        developer in Lexington KY.<br>
        Check out what I've been 
        {%- if page.url == '/blog/' %}
          writing!
        {%- else %}
          working on!
        {%- endif %} 
      </h2>
    </div>
  </header>