body {
  margin: 0px;
  background-color: #6b6b6b;
  color: #93ffee;
  font-family: 'Montserrat', sans-serif;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2393ffee' fill-opacity='0.08'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.5em;

}

header #profpic {
  border-radius: 50%;
  border: #93ffee 5px double;
  height: 50%;
  width: auto;
}


.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 2em;
}

h1,
h2,
h3 h4 {
  font-family: 'Azeret Mono', monospace;
  font-weight: 500;
}



h1 {
  font-size: 3rem;
  letter-spacing: .1rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.15rem;
}

a,
a:visited,
a:active {
  color: #93ffee;
  text-decoration: none;

}

a:hover {
  padding-bottom: .25rem;
  border-bottom: solid #93ffee 3px;
}

.txt-center {
  text-align: center;
}

nav {
  display: flex;
  border-top: #93ffee 2.5px solid;
  text-align: center;
  border-top: #93ffee 2.5px solid;

}



main>section {
  border-top: #93ffee 2.5px solid;
  border-bottom: #93ffee 2.5px solid;
  margin: 1rem 1rem;
  padding: 2rem;
  max-width: 769px;
  box-sizing: border-box;
}



.intro {
  display: flex;
  flex-wrap: wrap;
}

.tech-column {
  display: flex;
  justify-content: space-around;
}

li.complete:before {
  content: '\2705';
  margin-left: -25px;
  margin-right: 4px;
}

li.soon:before {
  content: '\1F51C ';
  margin-left: -25px;
  margin-right: 4px;
}

li.future:before {
  content: '\1F192  ';
  margin-left: -25px;
  margin-right: 4px;
}


.portfolio-item {
  display: flex;
  align-items: center;

}

.portfolio-txt {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  padding-left: 1em;
}

.portfolio-img {
  border-radius: 10px;
  height: auto;
  max-width: 25em;
}

section > img {
  border-radius: 10px;
  height: auto;
  max-width: 40em;
}


@media (max-width: 790px) {
  header #profpic {
    border-radius: 50%;
    max-width: 50%;
    margin-top: 2.5em;
  }

  .about {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .portfolio-item {
    display: flex;
    flex-direction: column;
  }

  .tech-wrap {
    display: flex;
    justify-content: center;
  }

  .tech-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 680px) {

  header #profpic {
    border-radius: 50%;
    max-width: 50%;
    margin-top: 2.5em;
  }

  header.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.blog-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}