<div id="projects">

    <h1>Projects:</h1>
    {% assign sorted_projects = site.projects | sort: 'order' %}
    {% for project in sorted_projects %}
    <h3> <a href="{{project.url}}" class="project-title">
            {{project.title}}
        </a>
    </h3>

    <img src="{{project.preview_image | relative_url}}" alt="">

    {{project.description}}

    <div class="links">
        <i class="fas fa-link"></i> <a href={{project.link}}>Link</a>
        <i class="fab fa-github"></i> <a href={{project.github}}>GitHub</a>
    </div>
    <hr>
    {% endfor %}
</div>